
@{
    
    ViewBag.Title = "Index";
}

<h2>Index of Admin Page</h2>
<div class="row">
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")
    @Html.Partial("_DCI")



</div>
