@{
    ViewBag.Title = "Home Page";
}

<div>
    this is from home index


    @Html.Partial("~/Views/Admin/_DCI.cshtml")
    @Html.Partial("~/Views/Admin/_DCI.cshtml")
    @Html.Partial("~/Views/Admin/_DCI.cshtml")
    @Html.Partial("~/Views/Admin/_DCI.cshtml")
    @Html.Partial("~/Views/Admin/_DCI.cshtml")
    @Html.Partial("~/Views/Admin/_DCI.cshtml")

</div>