<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @Html.Partial("_Menu")
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <div id="toast" class="alert">
       
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/chart.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".datetimepick").datetimepicker();
        });
    </script>

    <script>
        function getNotification() {
            $.ajax({
                url: '/api/Notification/GetUnreadNotification?userid=246470af-eabb-4861-9c37-d0ba894a9f1f',
                method: 'GET',
                success: function (a, d) {
                    //data = a;
                    var str = "";
                    a.forEach(function (a) {
                        str += '<div class="alert alert-primary" role="alert">'+a.Message+'</div>';
                        
                    })
                        $("#toast").html(str);
                },
                error: function (e, d) {

                }
            }
            );
        }

        function readNotification(notificationId) {
            $.ajax({
                url: '/api/Notification/ReadNotification?notificationId=' + notificationId,
                method: 'GET',
                success: function (a, d) {
                    //todo remove thhe notification

                },
                error: function (e, d) {

                }
            }
            );
        }

        var t = setInterval(getNotification, 10000)
    </script>
</body>
</html>