

@if (User.IsInRole("Admin"))
{
    <li>@Html.ActionLink("Role", "Roles", "Admin")</li>
    <li>@Html.ActionLink("User", "Users", "Admin")</li>
}
else if (User.IsInRole("Student"))
{
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
}
