@model IEnumerable<School.Web.ViewModel.AdminRolesViewModel>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "RoleCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCount)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCount)
        </td>
     
    </tr>
}

</table>
